.vscode/
.vim/
*__pycache__/
data/
auto/
output/
*~
*/.DS_Store
*.png
*.npy
*.tar
*.xlsx
*.csv
*.tdms
*.pdf
*.svg
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.abs
*.spl
*.out
*.synctex.gz
*.thm
*main*.pdf
*main*.abs
*main*.out
models/
results/
figures/
misc.py
plotter.py
out.txt
